
body {
    background-color: rgb(24, 19, 19);
}

#container {
    background-color: red;
    color: white;
    width: 60%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
}

.container input, 
select, 
textarea {width: 100%;} 

form {
   width: 100%;
}
